.technology_item {
	margin: 1.2em;
	text-align: center;
	cursor: default;
	color: var(--color-smokeWhite);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

@media only screen and (min-width: 600px) {
	.technology_item {
		transition: 0.4s ease all;
	}
	.technology_item:hover {
		letter-spacing: 16px;
		transition: 0.2s ease all;
	}
}
