.technology_item {
	margin-bottom: 20px;
	padding: 16px;
	text-align: center;
	cursor: default;
}

@media only screen and (min-width: 600px) {
	.technology_item {
		transition: 0.4s ease all;
	}
	.technology_item:hover {
		letter-spacing: 16px;
		transition: 0.2s ease all;
	}
}
