.headline1 {
	font-size: 48px;
	font-style: regular;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	font-weight: bold;
	line-height: 1.23;
}

.headline2 {
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	font-weight: medium;
	line-height: 0.88;
	color: #ada4a4;
}

.navItem {
	font-size: 21px;
	font-style: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	font-weight: 700;
	line-height: 0.88;
	color: #ada4a4;
}

.techItem {
	font-size: 21px;
	font-style: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 8px;
	font-weight: 600;
	line-height: 0.88;
	color: black;
}