.headline1 {
	font-size: var(--text-xxxxl);
	letter-spacing: normal;
	font-weight: 600;
}

.headline2 {
	font-size: var(--text-sm);
	letter-spacing: 0.45em;
	font-weight: 400;
}

.navItem {
	font-size: var(--text-md);
	letter-spacing: 0.3em;
	font-weight: 400;
}

.techItem {
	font-size: var(--text-md);
	letter-spacing: 0.4em;
	font-weight: 400;
}

.careerItem {
	font-size: var(--text-md);
	letter-spacing: 0.2em;
	font-weight: 400;
}

.buttonItem {
	font-size: var(--text-md);
	letter-spacing: 0.4em;
	font-weight: 400;
}
