.container {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	position: relative;
}

:root {
	--animation_background_size: 300%;
}

.content_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 960px;
}

.navigation_bar {
	display: flex;
	justify-content: flex-end;
}

.nav_item {
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

/* .column_container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(24, 1fr);
	column-gap: 16px;
}
.colored_column_container {
	grid-column: 4 / 6;
	grid-row: 1 / -1;
	z-index: -1;
	position: relative;
}

.colored_column {
	position: absolute;
	background-color: black;
	width: 100%;
	bottom: 0%;
	height: 90%;
	animation-duration: 1.5s;
	animation-name: slideInFromBelow;
	animation-timing-function: ease-in-out;
}

@keyframes slideInFromBelow {
	0% {
		height: 0%;
	}
	100% {
		height: 90%;
	}
} */

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	opacity: 0;
	animation-name: fadeIn;
	animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
	.column_container {
		grid-template-columns: repeat(8, 1fr);
	}

	.colored_column_container {
		grid-column: 2 / 4;
	}

	.navigation_bar {
		justify-content: center;
	}

	:root {
		--animation_background_size: 200%;
	}
}

.slanted_background {
	position: fixed;
	top: 0%;
	left: 0%;
	bottom: 0%;
	width: 100%;
	background-image: linear-gradient(50deg, #0e4455 70%, white calc(70% + 1px));
	background-size: 100% var(--animation_background_size);
	background-position: 0% 0%;
	z-index: -4;
}

.background_animation {
	animation: animatedBackground1 25s ease-in-out forwards;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes animatedBackground1 {
	from {
		background-position: auto;
	}
	to {
		background-position: 0% 15%;
	}
}
