.navigation_item {
	cursor: default;
	text-align: center;
	border: none;
	background: none;
	position: relative; /* enables the absolute positioning of the underline element */
	overflow: hidden; /* crops the underline element to bounds of the button */

	/* -webkit-tap-highlight-color: transparent; */
}

.nav_title {
	color: #B29696;
}

.navigation_item:focus {
	outline: none;
}

@media (hover: hover) and (pointer: fine) {
	.underline {
		position: absolute;
		height: 2px;
		border-radius: 999em;
		width: 0%;
		left: 10px; /* this corresponds to button padding locked to 10px in style */
		right: 0%;
		background-color: #4057AC;
		transition: 0.2s ease all;
		bottom: 10%;
	}

	.navigation_item:hover .nav_title {
		color: #F0E4E4;
		transition: 0.3s ease all;
	}

	.navigation_item:hover .underline {
		width: 100%;
		transition: 0.3s ease all;
	}
}
