.navigation_button {
	cursor: default;
	text-align: center;
	border: none;
	background: none;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}

.navigation_button:focus {
	outline: none;
}

.nav_title {
	color: var(--color-lightGray);
	position: relative;
}

@media (hover: hover) and (pointer: fine) {
	.nav_title::before {
		content: '';
		position: absolute;
		height: 2px;
		border-radius: 999em;
		overflow: visible;
		width: 0%;
		left: 0%;
		right: 0%;
		bottom: -30%;
		background-color: var(--color-deepBlue);
		transition: 0.3s ease all;
	}

	.navigation_button:hover .nav_title {
		color: var(--color-smokeWhite);
		transition: 0.3s ease all;
	}

	.navigation_button:hover .nav_title::before {
		width: 105%;
		transition: 0.3s ease all;
	}
}
