.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.headline_container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.headline_item {
	grid-column: 2 / 12;
}

.avatar_container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.avatar_item {
	max-height: 496px;
	object-fit: cover;
	grid-column: 6 / 10;
}

@media only screen and (max-width: 600px) {
	.avatar_container {
		grid-template-columns: repeat(8, 1fr);
	}

	.avatar_item {
		grid-column: 4 / 7;
	}

	.headline_item {
		grid-column: 2 / 8;
	}

	.headline_container {
		grid-template-columns: repeat(8, 1fr);
	}
}
