.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	height: 100%;
}

.headline_container {
	align-self: stretch;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.headline_item {
	grid-column: 2 / 12;
	position: relative;
}

.headline_text {
	color: var(--color-smokeWhite);
	cursor: default;
}

.subHeadline_text {
	color: var(--color-lightGray);
	cursor: default;
}

.avatar_container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.avatar_item {
	max-height: 396px;
	max-width: 300px;
	object-fit: cover;
}

.button_item {
	display: inline-block;
	padding: 0;
	box-sizing: content-box;
	background-color: transparent;
	border: solid 2px;
	border-color: var(--color-lightGray);
	align-self: center;
	outline: none;
	cursor: pointer;
	transition: var(--transition-duration) ease all;
}

.button_title {
	padding: 1em 2.5em;
	color: var(--color-smokeWhite);
}

.button_item:hover {
	transform: scale(0.95);
	transition: var(--transition-duration) ease all;
}

@media only screen and (max-width: 600px) {
	.avatar_container {
		display: flex;
		justify-content: center;
	}

	.avatar_item {
		width: 50%;
	}

	.headline_item {
		grid-column: 2 / 8;
	}

	.headline_container {
		grid-template-columns: repeat(8, 1fr);
	}
}
