.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.content_container {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.career_item {
	text-align: left;
	margin-bottom: 20px;
	padding: 16px;
	margin-bottom: 20px;
	position: relative;
	transition: 0.7s ease all;
}

@media only screen and (min-width: 600px) {
	.career_item:hover {
		transition: 0.5s ease all;
		transform: translateX(10%) scale(1.1) scaleZ(1);
		padding: 32px;
	}
}

/* .career_item::before {
	content: '';
	position: absolute;
	height: 100%;
    width: 200%;
    background-color: #0e4455;
	top: 0%;
	left: 0%;
    transform: translateX(-200%);
    transition: 5s ease all;
    border-radius: 999em;
    z-index: -4;
}

.career_item:hover::before {
    transform: translateX(-50%);
    transition: 2.0s ease all;
} */
