/* ---- Spacings ---- */
:root {
	--space-unit: 1em;
	--space-xxs: calc(var(--space-unit) / 4);
	--space-xs: calc(var(--space-xxs) * 2);
	--space-s: calc(var(--space-xs) * 2);
	--space-m: calc(var(--space-s) * 2);
	--space-l: calc(var(--space-m) * 2);
	--space-xl: calc(var(--space-l) * 2);
	--space-xxl: calc(var(--space-xl) * 2);
}

/* ---- Colors ---- */
:root {
	--color-darkGray: #221c1c;
	--color-easyBlack: #0c0b0b;
	--color-smokeWhite: #d9f3dc;
	--color-lightGray: #ada4a4;
	--color-mainAccent: #f1154c;
}

/* ---- Typography ---- */
:root {
	--text-base-size: calc(1em + 0.3vw);
	--text-base-line-height: 1.1;

	--font-primary: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont;
	--text-scale-ratio: 1.2;

	--text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
	--text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
	--text-md: calc(
		var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
	);
	--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
	--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
	--text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

:root {
	--transition-duration: 0.25s;
}

#root {
	min-height: 100vh;
	width: 100vw;
}

body {
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-family: var(--font-primary);
	font-size: var(--text-base-size);
	background-color: var(--color-easyBlack);
}

body::after {
	content: '';
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: -50;
	background-color: var(--color-easyBlack);
	background: -moz-linear-gradient(
		160deg,
		var(--color-easyBlack) 0%,
		var(--color-darkGray) 100%
	);
	background: -webkit-linear-gradient(
		160deg,
		var(--color-easyBlack) 0%,
		var(--color-darkGray) 100%
	);
	background: linear-gradient(
		160deg,
		var(--color-easyBlack) 0%,
		var(--color-darkGray) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c0b0b",endColorstr="#221c1c",GradientType=1);
}

input,
select,
textarea,
button {
	font-family: inherit;
}

p {
	margin: 0;
	line-height: var(--text-base-line-height);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
