body {
	margin: 0;
	font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	position: relative;
	background-color: #221C1C;
}

/*these can also be relative to the browser font size*/
:root {
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-s: 16px;
	--space-m: 32px;
	--space-l: 64px;
	--space-xl: 128px;
	--space-xxl: 256px;
}


button {
	font-family: inherit;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

p {
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

#root {
	min-height: 100vh;
	width: 100vw;
}

#portal-root {
	min-height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
}
